.header {
    padding: 30px 15px;
}

.header .logo {
    font-family: var(--font-primaria);
    font-size: var(--font-extra-grande);
    display: flex;
}

.header .logo span {
    color: var(--cor-span);
}