:root {
    --cor-primaria: #4d87dd;
    --cor-secundaria: #fd6c22;
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;
    --cor-fundo-cinza-escuro: background: rgb(83,5,228);
    background: linear-gradient(90deg, rgba(83,5,228,1) 0%, rgba(40,40,40,1)25%);;
    --cor-fundo-cinza-claro: #353535;
    --cor-span: rgb(50, 38, 219);
}

:root {
    --font-primaria: 'Gemunu Libre', sans-serif;;
    --font-secundaria: 'Raleway', sans-serif; 
    --font-gigante: 4.5rem;
    --font-extra-grande: 3rem;
    --font-grande: 2.4rem;
    --font-normal: 1.6rem;
}

:root {
    --mobile-padding: 30px
}